!!!xml
- BWmm=600.0 # ボード幅 mm
- BHmm=300.0 # ボード高さ mm
- BMARGINmm=4.0 # ボードの上下左右のマージン
- IMARGINmm=4.0 # オブジェクト間のマージン
- AWmm=BWmm-BMARGINmm*2 # マージン除いたボード幅
- AHmm=BHmm-BMARGINmm*2 # マージン除いたボード高さ
- HCOUNT=16
- ITEMWSTEPmm = AWmm / HCOUNT
- ITEMWmm = ITEMWSTEPmm - IMARGINmm
%svg{ xmlns:"http://www.w3.org/2000/svg", viewBox:"#{-BMARGINmm} #{-BMARGINmm} #{BWmm} #{BHmm}", width:"#{BWmm}mm" }
  - turtle=[0,0,Math::PI]
  - pts=[]
  - pts = "RtrtRtstrTrTrt".chars.map do |ch|
    - turtle[0] += Math.cos(turtle[2])
    - turtle[1] += Math.sin(turtle[2])
    - turtle[2] += Math::PI/6 * {r:3, R:-3, t:2, T:-2, s:0}[ch.to_sym]
    - turtle[0,2]
  - xmin,xmax = pts.map(&:first).minmax
  - ymin,ymax = pts.map(&:last).minmax
  - xw = xmax - xmin
  - yw = ymax - ymin
  - z = ITEMWmm/xw
  - s = pts.map{ |pt| [(pt[0]-xmin)*z, (pt[1]-ymin)*z].join(",") }.join(" ")
  %defs
    %g{ id:"sp", fill:"none", stroke:"rgb(255,0,0)", "stroke-width":"1pt" }
      %polygon{ points:s}
  -itemHmm = yw*z
  -itemHStepmm = itemHmm + IMARGINmm
  -vcount = (AHmm / itemHStepmm).floor
  -HCOUNT.times do |ix|
    -vcount.times do |iy|
      - x = ix*AWmm / HCOUNT
      - y = iy*AHmm / vcount
      %use{ x:x, y:y, "href"=>"#sp"}




